body:before {
    background: linear-gradient(to bottom right, #072f76, #072f76);
}

.btn-group-justified {
    display: flex;
}

.btn-group-justified .btn {
    flex-grow: 1;
}

a.btn.btn-primary {
    color: #fff;
}

.auth-box-w .logo-w {
    padding: 10% 20%;
}

.auth-box-w .auth-header {
    text-align: center;
    padding-left: 0;
    margin-bottom: 1rem;
}

.auth-box-w .auth-header:after {
    left: 50%;
    margin-left: -16px;
}

.auth-box-w .buttons-w {
    padding-top: 0.5rem;
    margin-top: 2rem;
}

.auth-box-w .buttons-w-extra {
    margin-top: 3rem;
}

.menu-w .logo-w img {
    width: 100%;
    padding: 15px;
    margin-bottom: 5px;
 }

.menu-w.menu-layout-compact .logged-user-w.avatar-inline .logged-user-i .logged-user-info-w {
    padding-left: 0;
}


.full-chat-w .chat-content-w .chat-message .chat-message-content {
    padding: 20px 35px;
    min-width: 180px;
    word-break: break-all;
}

.full-chat-w .chat-content-w .chat-message .chat-message-date {
    margin-right: 35px;
    margin-left: 35px;
}
