{% extends 'base.html.twig' %}

{% block body_class %}auth-wrapper{% endblock %}

{% block body %}
    <div class="auth-box-w wider">
        <br>
        <h4 class="auth-header">
            {{ page_title }}
        </h4>
        {% block content %}{% endblock %}
    </div>
{% endblock %}
