{% spaceless %}
    <!DOCTYPE html>
    <!--[if IE 8]> <html lang="pt-BR" class="ie8"> <![endif]-->
    <!--[if !IE]><!-->
    <html lang="pt-BR">
    <!--<![endif]-->
        <head>

            <title>
                {%- block title -%}
                    {%- if page_title is defined and page_title|length > 0 -%}
                        {{- page_title }} |
                    {%- endif %} EP Redes
                {%- endblock -%}
            </title>

            {% block meta %}
                <meta charset="utf-8">

                <meta content="ie=edge" http-equiv="x-ua-compatible">
                <meta content="{% block description %}{% endblock %}" name="description">
                <meta content="width=device-width, initial-scale=1" name="viewport">
            {% endblock %}

            {% block opengraph %}
                <meta property="og:type" content="website" />
                <meta property="og:title" content="{{ block('title') }}" />
                <meta property="og:url" content="{{ app.request.attributes.get('_route') ? url(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) : '' }}" />
            {% endblock %}

            {% block stylesheets %}
                <link href="{{ asset('build/app.css') }}" rel="stylesheet">
            {% endblock %}

            {% block favicons %}{% endblock %}
        </head>
        <body {% block body_attr %}{% endblock %} class="{% block body_class %}{% endblock %}" style="{% block body_style %}{% endblock %}">
            {% block body %}{% endblock %}
        </body>

        {% block javascripts %}
            <script src="{{ asset('build/app.js') }}"></script>
        {% endblock %}
    </html>
{% endspaceless %}
