{% extends 'base.html.twig' %}

{% block body_class %}menu-position-side menu-side-left{% endblock %}

{% block body %}
    <div class="all-wrapper no-padding-content solid-bg-all">
        <div class="layout-w">
            <div class="menu-mobile menu-activated-on-click color-scheme-dark">
                <div class="mm-logo-buttons-w">
                    <div class="mm-buttons">
                        <div class="content-panel-open">
                            <div class="os-icon os-icon-grid-circles"></div>
                        </div>
                        <div class="mobile-menu-trigger">
                            <div class="os-icon os-icon-hamburger-menu-1"></div>
                        </div>
                    </div>
                </div>
                <div class="menu-and-user">
                    <ul class="main-menu">
                        <li class="selected">
                            <a href="{{ path('chat') }}">
                                <div class="icon-w">
                                    <div class="fa fa-comments"></div>
                                </div>
                                <span>Conversas</span>
                            </a>
                        </li>
                        <li class="selected">
                            <a href="{{ path('map') }}">
                                <div class="icon-w">
                                    <div class="fa fa-map"></div>
                                </div>
                                <span>Mapa</span>
                            </a>
                        </li>
                        <li class="selected">
                            <a href="{{ path('logout') }}">
                                <div class="icon-w">
                                    <div class="fa fa-sign-out"></div>
                                </div>
                                <span>Sair</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="menu-w menu-w selected-menu-color-light menu-activated-on-hover menu-has-selected-link color-scheme-dark color-style-bright sub-menu-color-bright menu-position-side menu-side-left menu-layout-compact sub-menu-style-inside">
                <div class="logged-user-w avatar-inline">
                    <div class="logged-user-i">
                        <div class="logged-user-info-w">
                            <div class="logged-user-name">
                                {{ user.name }}
                            </div>
                        </div>
                    </div>
                </div>
                <ul class="main-menu">
                    <li class="sub-header">
                        <span>Opções</span>
                    </li>
                    <li class="selected">
                        <a href="{{ path('chat') }}">
                            <div class="icon-w">
                                <div class="fa fa-comments"></div>
                            </div>
                            <span>Conversas</span>
                        </a>
                    </li>
                    <li class="selected">
                        <a href="{{ path('map') }}">
                            <div class="icon-w">
                                <div class="fa fa-map"></div>
                            </div>
                            <span>Mapa</span>
                        </a>
                    </li>
                    <li class="selected">
                        <a href="{{ path('logout') }}">
                            <div class="icon-w">
                                <div class="fa fa-sign-out"></div>
                            </div>
                            <span>Sair</span>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="content-w">
                <div class="content-i">
                    <div class="content-box">
                        {% block content %}
                        {% endblock %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
