{% extends 'auth.html.twig' %}

{% block content %}
    {% if error %}
        <div class="alert alert-danger" role="alert">
            Credenciais inválidas
        </div>
    {% endif %}

    <form method="post" action="{{ path('login') }}">
        <div class="form-group">
            <label for="">Usuário</label><input class="form-control" placeholder="Insira seu usuaŕio" type="text" name="_username" value="{{ last_username }}">
            <div class="pre-icon os-icon os-icon-user-male-circle"></div>
        </div>
        <div class="form-group">
            <label for="">Senha</label>
            <input class="form-control" placeholder="Insira sua senha" type="password" name="_password">
            <div class="pre-icon os-icon os-icon-fingerprint"></div>
        </div>

        <div class="buttons-w">
            <button class="btn btn-primary btn-block">Acessar</button>
        </div>
    </form>
{% endblock %}
