{% extends 'chat.html.twig' %}

{% block content %}
    <div class="full-chat-w" data-user="{{ user.id }}">
        <div class="full-chat-i">
            <div class="full-chat-left">
                <div class="os-tabs-w">
                    <ul class="nav nav-tabs upper centered">
                        <li class="nav-item">
                            <a class="nav-link active">
                                <i class="os-icon os-icon-ui-93"></i>
                                <span>Conversas</span>
                            </a>
                        </li>
                    </ul>
                </div>
                <div id="user-tab" class="nav flex-column user-list" role="tablist">
                    {% for contact in contacts %}
                        <div
                            class="nav-link user-w user-{{ contact.id }}"
                            data-user="{{ user.id }}"
                            data-contact="{{ contact.id }}"
                            data-toggle="tab"
                            role="tab"
                            aria-controls="settings"
                            aria-selected="false"
                            href="#chat-screen-{{ contact.id }}"
                            >
                            <div class="user-info">
                                <div class="user-date user-message-count">
                                    0
                                </div>
                                <div class="user-name">
                                    {{ contact.name }}
                                    <small class="online" style="display:none;">(online)</small>
                                    <small class="offline">(offline)</small>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div class="full-chat-middle">
                <div class="tab-content">
                    <div class="tab-pane fade show active" id="chat-screen-no-user" role="tabpanel">
                        <div class="chat-content-w">
                            <div class="chat-content">
                                <h4 class="text-center">Selecione um contato no menu ao lado...</h4>
                            </div>
                        </div>
                    </div>
                    {% for contact in contacts %}
                        <div
                            id="chat-screen-{{ contact.id }}"
                            class="tab-pane fade show"
                            data-user="{{ user.id }}"
                            data-contact="{{ contact.id }}"
                            role="tabpanel"
                            >
                            <div class="chat-head">
                                <div class="user-info">
                                    <b class="contact-name">{{ contact.name }}</b>
                                </div>
                            </div>
                            <div class="chat-content-w">
                                <div class="chat-content"></div>
                            </div>
                            <div class="chat-controls">
                                <div class="row">
                                    <div class="col-10">
                                        <div class="chat-input">
                                            <input placeholder="Escreva sua mensagem aqui..." type="text">
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="chat-input-extra" style="margin-top: 20px">
                                            <div class="chat-btn">
                                                <a class="btn btn-primary btn-sm" href="#">Enviar</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="loading" role="dialog" tabindex="-1" aria-hidden="true" style="display: none;">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">
                        Carregando...
                    </h5>
                </div>
                <div class="modal-body text-center">
                    <h4>Aguarde enquanto fazemos a conexão...</h4>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="offline" role="dialog" tabindex="-1" aria-hidden="true" style="display: none;">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">
                        Usuário indisponível
                    </h5>
                    <button aria-label="Close" class="close" data-dismiss="modal" type="button"><span aria-hidden="true"> ×</span></button>
                </div>
                <div class="modal-body text-center">
                    <h4><b class="username"></b> está offline.</h4>
                </div>
                <div class="modal-footer text-center">
                    <button class="btn btn-secondary" data-dismiss="modal" type="button"> Fechar</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
