{% extends 'chat.html.twig' %}

{% block content %}
    <div class="full-chat-w">
        <div class="full-chat-i">
            <div class="full-chat-middle">
                <div class="chat-head">
                    <div class="user-info">
                        <a class="center-map" href="#">Centralizar</a>
                    </div>
                </div>
                <div id="map" style="height:650px"></div>
            </div>
        </div>
    </div>

    <script src="https://maps.googleapis.com/maps/api/js?key={{ google_maps_api_key }}&callback=initMap" defer></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.1/socket.io.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script type="text/javascript">
        var
            map,
            pontos = new Array(),
            markers = new Array(),
            openInfoWindow = null
        ;

        var socket = io('http://localhost:3000/');
        socket.on('connect', function () {
            socket.on('notify-position', function (data) {
                data = $.parseJSON(data);

                if (pontos[data.user_id]) {
                    lastLat = pontos[data.user_id].lat;
                    lastLng = pontos[data.user_id].lng;
                } else {
                    lastLat = data.latitude;
                    lastLng = data.longitude;
                }

                pontos[data.user_id] = {
                    nome: data.user_id,
                    lat: data.latitude,
                    lng: data.longitude,
                    lastLat: lastLat,
                    lastLng: lastLng,
                };
                refreshMap();
            });
        });

        function refreshMap() {
            $.each(markers, function(index, marker) {
                marker.setMap(null);
            });
            markers = new Array();

            $.each(pontos, function(index, ponto) {
                if (ponto) {

                    var marker = new google.maps.Marker({
                        position: new google.maps.LatLng(ponto.lat, ponto.lng),
                        map: map
                    });

                    var newInfowindow = new google.maps.InfoWindow({
                        content: 'Usuário #' + ponto.nome
                    });

                    marker.addListener('mouseover', function() {
                        if (openInfoWindow) {
                            openInfoWindow.close();
                        }
                        newInfowindow.open(map, this);

                        openInfoWindow = newInfowindow;
                    });

                    if (ponto.lastLng && ponto.lastLng) {
                        trajeto = new google.maps.Polyline({
                            path: [
                                {
                                    lat: ponto.lastLat,
                                    lng: ponto.lastLng
                                },{
                                    lat: ponto.lat,
                                    lng: ponto.lng
                                }
                            ],
                            // geodesic: true,
                            // strokeColor: '#FF0000',
                            // strokeOpacity: 1.0,
                            // strokeWeight: 2,
                            map: map
                        });
                    }
                    markers.push(marker);
                }
            });
        }

        function centralizarMapa() {
            bounds = new google.maps.LatLngBounds();

            if (markers.length > 0) {
                $.each(markers, function(index, marker) {
                    bounds.extend(marker.position);
                });
                map.fitBounds(bounds);
            } else {
                setCenter();
            }
        }

        function initMap() {
            map = new google.maps.Map(document.getElementById('map'));

            setCenter();
        }

        function setCenter(lat = -23.550259, lng = -46.633798, zoom = 16) {
            map.setZoom(zoom);
            map.setCenter({
                lat: lat,
                lng: lng
            });
        };

        $(document).ready(function() {
            $('.center-map').click(function(event) {
                event.preventDefault();
                centralizarMapa();
            });
        });
    </script>
{% endblock %}
